body{
    background-color: rgb(242, 143, 15);
    margin: 0;
}
#div1{
    background-color: brown;
    height: 15vh;
}
#div2{
    background-color: rgb(100, 20, 20);
    height: 85vh;
    width: 10vw;
    float: left;
}
#div3{
    background-color: rgb(45, 3, 3);
    height: 85vh;
    width: 90vw;
    float: left;
}
.div2-menu{
    background-color: bisque;
    height: 5vh;
}
